<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mylibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name=".utils.permissions.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--add provider để tạo đường dẫn lưu file image, file video-->
        <!--add package của project để mỗi project có một provider riêng, trường hợp trùng sẽ không cài được apk-->
        <!--copy đoạn code dưới paste vào file manifest của project-->
        <!--<provider-->
        <!--android:name=".utils.GenericFileProvider"-->
        <!--android:authorities="com.mylibrary.provider"-->
        <!--android:exported="false"-->
        <!--android:grantUriPermissions="true">-->
        <!--<meta-data-->
        <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
        <!--android:resource="@xml/provider_paths" />-->
        <!--</provider>-->
    </application>

</manifest>
